<div class="card text-end" >
    <div class="card-body">
<button type="button" class="btn btn-success btn-sm ">Ajouter</button>
<button type="button" class="btn btn-danger btn-sm ">Supprimer</button>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-2 g-4">
    
    <div class="col">
        <div class="card text-center" >
            <div class="text-center">
            <img src="./assets/profile.png" class="card-img-top" >
            </div>
        <div class="card-body">
          <h5 class="card-title">Transpoteur</h5>
          <p style="font-size: medium;"> CIN </p>
          <br>
          <br>
          <a href="#" class="btn btn-outline-secondary">Message</a>
          <a href="#" class="btn btn-outline-secondary">Voir Profil</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center" >
        <div class="text-center">
        <img src="./assets/profile.png" class="card-img-top" >
        </div>
        <div class="card-body">
          <h5 class="card-title">Transpoteur</h5>
          <p style="font-size: medium;"> CIN </p>
          <br>
          <br>
          <a href="#" class="btn btn-outline-secondary">Message</a>
          <a href="#" class="btn btn-outline-secondary">Voir Profil</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card text-center" >
            <div class="text-center">
            <img src="./assets/profile.png" class="card-img-top" >
            </div>
        <div class="card-body">
          <h5 class="card-title">Transpoteur</h5>
          <p style="font-size: medium;"> CIN </p>
          <br>
          <br>
          <a href="#" class="btn btn-outline-secondary">Message</a>
          <a href="#" class="btn btn-outline-secondary">Voir Profil</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card text-center" >
            <div class="text-center">
            <img src="./assets/profile.png" class="card-img-top" >
            </div>
        <div class="card-body">
          <h5 class="card-title">Transpoteur</h5>
          <p style="font-size: medium;"> CIN </p>
          <br>
          <br>
          <a href="#" class="btn btn-outline-secondary">Message</a>
          <a href="#" class="btn btn-outline-secondary">Voir Profil</a>
        </div>
      </div>
    </div>
  </div>
