<!--=============================
=            Sign Up            =
==============================-->
<div *ngIf="false" class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>      
<section class="user-login section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="block">
					<!-- Image -->
					<div class="image align-self-center"><img class="img-fluid" src="assets/images/Login/ssss.png" alt="desk-image">
					</div>
					<!-- Content -->
					<div class="content text-center" >
					
						<div class="title-text">
              <img src="assets/images/Tunicleany.png" width="120px">
							<h3 >Société</h3>
						</div>
                        <div class="scroll-ele">
						<form class="was-validated" (ngSubmit)="userRegister()" >
							
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                  </svg></span>
                                </div>
                                <input  id="nom" class=" form-control main"  type="text" placeholder=" Nom"  [(ngModel)]="newSociete.idnom" [ngModelOptions]="{standalone: true}" required >
                                
                              </div>
                              <div class="input-group ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 20 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"></path>
                                    <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"></path>
                                  </svg></span>
                                </div>
                                <input  id="mtf" class="form-control main" type="text" placeholder=" Matricule fiscale"  required [(ngModel)]="newSociete.idmf" [ngModelOptions]="{standalone: true}" >
                              </div>

                              <div class="input-group ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                      </svg>
                                </span>
                                </div>
                                <input id="mail" class="form-control main" type="email" placeholder=" E-mail" [(ngModel)]="newSociete.idmail" [ngModelOptions]="{standalone: true}" required>
                                
                              </div>
                    
                            

                           
                              <div class="input-group ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                      </svg>
                                </span>
                                </div>
                                <input id="mdp" class="form-control main" type="password" placeholder=" Mot de passe" [(ngModel)]="newSociete.idmp" [ngModelOptions]="{standalone: true}" required minlengt="6">
                                
                              </div>

                              <div class="input-group ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                      </svg>
                                </span>
                                </div>
                                <input  id="cmdp"class="form-control main" type="password" placeholder=" Confirmer votre Mot de passe" [(ngModel)]="newSociete.idrmp" [ngModelOptions]="{standalone: true}" required>
                                
                              </div>


                              <div class="input-group ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                      </svg>
                                </span>
                                </div>
                                <input id="adr" class="form-control main" type="text" placeholder=" Adresse" [(ngModel)]="newSociete.idadr" [ngModelOptions]="{standalone: true}" required>
                                
                              </div>


                              <div class="input-group ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                      </svg>
                                </span>
                                </div>
                                <input  id="tel"class="form-control main" type="number" placeholder=" Téléphone" [(ngModel)]="newSociete.idtel" [ngModelOptions]="{standalone: true}" required minlength="8" >
                                
                              </div>


                              <p>Type d'activité</p>

                              <div class="input-group ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" fill="currentColor" class="bi bi-clipboard2" viewBox="0 0 16 16">
                                      <path d="M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z"/>
                                      <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
                                    </svg>
                                </span>
                                </div>
                                
                                <select class="form-select" id="idact" name="idact" [(ngModel)]="newIdact" required>
                                  
                                  <option *ngFor="let act of activites" [value]="act.idact" >   
                                    {{act.nomAct}}
                              </option>
                                </select>
                                
                              </div>
                            <br>

                              <p>Type d'autorisation</p>
                              

                              <div class="input-group ">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" fill="currentColor" class="bi bi-clipboard2" viewBox="0 0 16 16">
                                      <path d="M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z"/>
                                      <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
                                    </svg>
                                </span>
                                </div>
                               
                                
                                <select class="form-select" id="idauto" name="idauto" [(ngModel)]="newIdauto" required>
                                  
                                  <option  *ngFor="let aut of autorisations" [value]="aut.idauto" >   
                                    {{aut.nomAuto}}
                              </option>
                                </select>
                                
                              </div>
                              <br>

                              
							<!-- Submit Button -->
              <a routerLink="/accueil"><button type="submit" (click)="ajouterSociete()" class="btn btn-success">Créer un compte</button></a>
               

						</form>
                    </div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!--====  End of Sign Up  ====-->

