.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.section{background: #aaa0a0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #dbd5d2, #d5ecd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #e2ddd9, #ccf0cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}