.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

table {
  width: 100%;
}
p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
  height: 10px;
}
button{
  margin: 5px;
}
h5{
  text-align: left;
}