<!--
<div>
    <app-widget-area [data]="bigChart"></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="New Users" total="12k" percentage="50" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users retention" total="10k" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Referral" total="6k" percentage="20" [data]="cards"></app-widget-card>
    </mat-card>
</div>
-->

<br>

<mat-divider></mat-divider>

<br>

<p>Information Commande </p>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <p>Commande reçue</p>
            <table class="table table-striped">
                <tr>
                    <th>Nom Societe</th>
                    <th>Type d'activite</th>
                    <th>Emplacement</th>
                    <th>Type de dechet</th>
                    <th>Poids</th>
                   
                
                </tr>
                <tbody *ngFor="let Commande of commandes">
                    <tr>
                        <td>{{Commande.nomSociete.idnom}}</td>
                        <td>{{Commande.activite.nomAct}}</td>
                        <td>{{Commande.gouvernorat.nomgouv}}</td>
                        <td>{{Commande.dechet.nomdech}}/{{Commande.sous_typedech.nomstdech}}</td>
                        <td>{{Commande.idpoids}}</td>
                        <td><a class="btn btn-success" > Accepter</a></td>
                        <td><a class="btn btn-danger"(click)="supprimerCommande(Commande)" > Refuser</a></td>
                        

                    </tr>
                </tbody>
            </table>

    </div>
   


<br>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <p>Commande sorties et acceptées</p>
            <table class="table table-striped">
                <tr>
                    <th>Nom Societe</th>
                    <th>Type d'activite</th>
                    <th>Emplacement</th>
                    <th>Type de dechet</th>
                    <th>Poids</th>
                   
                
                </tr>
                <tbody *ngFor="let Commande of commandes">
                    <tr>
                        <td>{{Commande.nomSociete.idnom}}</td>
                        <td>{{Commande.activite.nomAct}}</td>
                        <td>{{Commande.gouvernorat.nomgouv}}</td>
                        <td>{{Commande.dechet.nomdech}}/{{Commande.sous_typedech.nomstdech}}</td>
                        <td>{{Commande.idpoids}}</td>
                        
                        

                    </tr>
                </tbody>
            </table>

    </div>
    
</div>
<br>
<br>