


<p>Information Commande et societe</p>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <p>Commande reçue</p>
            <table class="table table-striped">
                <tr>
                    <th>Nom Societe</th>
                    <th>Type d'activite</th>
                    <th>Emplacement</th>
                    <th>Type de dechet</th>
                    <th>Poids</th>
                   
                
                </tr>
                <tbody *ngFor="let Commande of commandes">
                    <tr>
                        <td>{{Commande.nomSociete.idnom}}</td>
                        <td>{{Commande.activite.nomAct}}</td>
                        <td>{{Commande.gouvernorat.nomgouv}}</td>
                        <td>{{Commande.dechet.nomdech}}/{{Commande.sous_typedech.nomstdech}}</td>
                        <td>{{Commande.idpoids}}</td>
                        

                    </tr>
                </tbody>
            </table>

    </div>


    <br>
    <br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="100px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <p>Les informations des societes</p>
            <table class="table table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Mtaricule fiscale</th>
                    <th>Mail</th>
                    <th>Mot de passe</th>
                    <th>Adresse</th>
                    <th> Telephone</th>
                    <th>Domaine d'activite</th>
                    <th>Type d'autorisation</th>
                
                </tr>
                <tbody *ngFor="let societe of societes">
                    <tr>
                        <td>{{societe.idnom}}</td>
                        <td>{{societe.idmf}}</td>
                        <td>{{societe.idmail}}</td>
                        <td>{{societe.idmp}}</td>
                        <td>{{societe.idadr}}</td>
                        <td>{{societe.idtel}}</td>
                        <td>{{societe.activite.nomAct}}</td>
                        <td>{{societe.autorisation.nomAuto}}</td>
                        

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>