 

 <header>
    <!-- header -->
 <div class="container">
  <div class="navbar">
       
   <nav class="navbar navbar-expand-lg navbar-nav-light ">
     <div class="row">
         <div class="col">
     <img src="assets/images/Tunicleany.png" width="
 40px" ></div>
 </div>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
       <ul class="navbar-nav mr-auto">
        
         <li class="nav-item ">
           <a class="nav-link" routerLink="/acceuil">Acceuil <span class="sr-only"></span></a>
         </li>
          
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Dashboard
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link" routerLink="/dashboard/useradmin">Admin <span class="dropdown" ></span></a>
             <br>
             <a class="nav-link" routerLink="/dashboard/societe">Societe <span class="dropdown" ></span></a>
           
           </div>
         </li>
         <li class="nav-item ">
             <a class="nav-link" routerLink="/contactus" >Contacter-nous <span class="sr-only"></span></a>
           </li>
            
       </ul>
       
           
         </div>
        
   </nav>
   
 </div>
 </div>
 
   <!-- header inner -->
   <div class="header_bg">
     <div class="background-image">
       <style>
         .background-image{
           background-image: url('assets/images/banner.png');
           background-repeat: no-repeat;
           background-size: cover;
           background-size: cover;
           background-position: center;
         }
       </style>
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                          
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
 
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="text-bg">
                     <span>For Better <br> Tunisia</span>
                     <h1>Tunicleany</h1>
                     <a href="#">Get Started</a>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="text-img">
                     <figure><img src="assets/images/img.png" /></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
 </div>
 </header>
 
 <div class="container">
   
     
    
     
      
     <table>
       <tr>
         
 
           <section class="user-login section">
             
           <div class="block">
             
           <div class="container" id="container2" > 
              
                 <div class="content text-center">
                <div class="container" id="formulaire">
               
                 <form >
                 
                  <p id="filter">Filtrer par gouvernerat</p>
                  <mat-icon>account_balance</mat-icon> <input type="radio">Productive
                    
      
      
                  <mat-icon style="margin: 5px;"> local_shipping</mat-icon>
                  <input type="radio">Collecte Transport
                      
                  <mat-icon>loop</mat-icon>
      
                      <input type="radio">Recyclage
                  <br>
                  <br>
                   <select class="form-select" id="idgouv" name="idgouv"  [(ngModel)]="newIdgouv">
                    <option *ngFor="let gouv of gouvernorats" [value]="gouv.idgouv" >   
                      {{gouv.nomgouv}}
                
               </select>
               <br>
               <p id="filter">Filtrer par Type de déchet</p>
               <select class="form-select" id="iddech" name="iddech" [(ngModel)]="newIddech">
                <option *ngFor="let dech of dechets" [value]="dech.iddech" >   
                  {{dech.nomdech}}
            </option>
              </select>
              <br>
              <select class="form-select" id="idstdech" name="idstdech" [(ngModel)]="newIdstdech" >
                <option *ngFor="let sous_typedech of sous_typedechs" [value]="sous_typedech.idstdech" >   
                  {{sous_typedech.nomstdech}}
                </option>
              </select>
              <br>
              <p id="filter">Filtrer par nature d'activité</p>
              <select class="form-select" id="idact" name="idact"[(ngModel)]="newIdact" >
                <option *ngFor="let act of activites" [value]="act.idact" >   
                  {{act.nomAct}}
                </option>
              </select>
              <br>
              <p id="filter">Filtrer par société</p>
              <select class="form-select" id="idnom" name="idnom" [(ngModel)]="newIdsoc">
                <option *ngFor="let soc of societes" [value]="soc.idnom" >   
                  {{soc.idnom}}
                </option>
              </select>
              <br>
              <p id="filter">Poids en Kg</p>     
               <input type="number" id="idpoids" [(ngModel)]="newCommande.idpoids" [ngModelOptions]="{standalone: true}" required >
            <br>
              <br>
              <a routerLink="/accueil"><button type="button"(click)="ajouterCommande()" class="btn btn-success">Commander</button></a>
 
             </form>
                </div>
               </div>
                 </div>
             </div>
           
          </section>
      
         
         <td>
           <div class="container" id="container1"> 
         
          <div class="map-container">
            <div class="map-frame">
              <div id="map"></div>
            </div>
            </div>
           
          </div>
           
         </td>
          
         
      
       </tr>
     
    
 </table>
 
 
     
  
  <br>
     
    <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted" width="1000%">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Contact:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>TuniCleany
            </h6>
            <p>
             Tunicleany2022
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          
          <!-- Grid column -->
  
          <!-- Grid column -->
          
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Tunisie,Tunis</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
  Tunicleany2022@gmail.com          </p>
            <p><i class="fas fa-phone me-3"></i> + 216 123456789</p>
            <p><i class="fas fa-print me-3"></i> + 216 123456789</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" >TuniCleany</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
